*
!./autogen.sh
!./configure.ac
!./AUTHORS
!./doc
!./doc/Doxyfile.in
!./src
!./src/compile.sh
!./src/arch.h
!./src/denoise.c
!./src/rnn_data.c
!./src/pitch.c
!./src/rnn.c
!./src/kiss_fft.c
!./src/rnn_data.h
!./src/kiss_fft.h
!./src/_kiss_fft_guts.h
!./src/celt_lpc.h
!./src/common.h
!./src/rnn.h
!./src/pitch.h
!./src/tansig_table.h
!./src/rnn_reader.c
!./src/opus_types.h
!./src/celt_lpc.c
!./src/rnn_train.py
!./Makefile.am
!./include
!./include/rnnoise.h
!./update_version
!./COPYING
!./training
!./training/dump_rnn.py
!./training/bin2hdf5.py
!./training/rnn_train.py
!./examples
!./examples/rnnoise_demo.c
!./rnnoise-uninstalled.pc.in
!./m4
!./m4/attributes.m4
!./rnnoise.pc.in
!./TRAINING
!./README

